@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Pagina em Construção!</h1>
    <p>Saiba mais <a href="https://megaum.com.br">em breve mais atualizações nesta pagina com a tecnologia ASP.NET Core</a>.</p>
    <img src="~/imagens/page.png" alt="Alternate Text" />
</div>
